*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
  padding: 2rem;

  .gramophone{
    position: relative;
    isolation: isolate;
    display: inline-flex;
    background: #242424;
    background-size: cover;
    background-position: center;
    padding: 1rem;

    &::before, &::after{
      content: '';
      position: absolute;
      z-index: -1;
    }

    &::before{
      inset: .5rem;
      background: inherit;
      box-shadow: inset .1rem .1rem .2rem 0 #000;
    }
    
    &::after{
      inset: 1.5rem;
      background: linear-gradient(to bottom right, #2c404c, #132f3c);
      border-radius: .2rem;
      box-shadow:
        inset .04rem .04rem .04rem 0 #ffffff18,
        inset -0.04rem -0.04rem .04rem 0 #00000097;
    }

    .disk{
      position: relative;
      transform: rotate(45deg);
      display: grid;
      place-items: center;
      width: 10rem;
      height: 10rem;
      background: conic-gradient(#000, #000, #9F9F9F, #000, #000, #000, #9F9F9F, #000, #000);
      border-radius: 50%;
      border: .15rem solid #000;

      &::before, &::after{
        content: '';
        position: absolute;
        border-radius: 50%;
      }

      &::before{
        rotate: 1turn;
        transition: rotate 2.6s cubic-bezier(.35,.54,.8,.96), transform 0s 9e9s;
      }

      &.is-playing::before{
        rotate: 0turn;
        transition: rotate 0s, transform 12000s;
        transform: rotate(16000turn);
      }

      &.type-1{
        &::before{
          width: 3.5rem;
          height: 3.5rem;
          background: url('../images/vinyl-1.png');
          background-size: cover;
          background-position: center;
          box-shadow: 0 0 0 .5rem #000;
        }
        &::after{
          width: .465rem;
          height: .465rem;
          background: #0000009c;
        }
      }

      &.type-2{
        &::before{
          width: 3rem;
          height: 3rem;
          background: conic-gradient(
            #CACACA 8%,
            #333 8%,
            #333 35%,
            #CACACA 35%,
            #CACACA 65%,
            #333 65%,
            #333 92%,
            #CACACA 92%,
            #CACACA);
          box-shadow:
            0 0 0 .1rem #333,
            0 0 0 .2rem #4E4E4E,
            0 0 0 .7rem #000;
        }
        &::after{
          width: 2.6rem;
          height: 2.6rem;
          box-shadow:
            0 0 0 .1rem #333,
            inset 0 0 0 1.15rem #fff,
            inset 0 0 0 10rem #353535;
        }
      }
    }

    .reproducer{
      position: relative;
      transform-origin: 2.68rem 2.33rem;
      right: .5rem;
      width: 4rem;
      height: 10rem;
      margin-top: -0.9rem;
      margin-left: -2.5rem;
    }
  }
}